{% extends '_base.html' %}
{% load static %}

{% block title %}
Email Confirmed
{% endblock %}

{% block content %}
<div class="email-confirm">
    <header class="email-confirm__header">
        <figure class="email-confirm__figure">
            <img src="{% static 'images/logo.ico' %}" alt="Expense-Tracker-Logo" width="128" height="128">
        </figure>
        <h1 class="email-confirm__h1">Email Confirmed Successfully</h1>
    </header>
    <p>Your email address has been verified successfully. You may now proceed to the app
        where you can now log in.</p>
    <p>Thank you for choosing Nigey's Expense Tracker.</p>
    <p>Enjoy the rest of your day😊</p>
</div>
{% endblock %}