{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <p>
            <span>&copy; <time id="year"></time></span>
            <span class="nowrap">Nigel Chiputura | All Rights Reserved</span>
        </p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>